/* UTILITIES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* font per la pagina */
 body{
    font-family: 'Fredoka', sans-serif;
 }
/* dimensione e centratura del container */
 .container{
    max-width: 70vw;
    margin: 5vh auto;
 }

 /* clearfix */
 .descrizione::after{
    content: '';
    display: table;
    clear: both;
 }

 .row::after{
   content: '';
   display: table;
   clear: both;
 }

/* HEADER */
/* colore, grandezza e margine del titolo principale */
 h1{
    color: rgba(229,49,112,1);
    font-size: 3em;
    margin-bottom: 5vh;
 }
/* centrature del titolo principale e del paragrafo */
 h1, header p{
    text-align: center;
 }

 /* MAIN */
 /* dimensione row */
 .row{
    width: 100%;
    margin-top: 3vh;
 }
/* float colonne + spzziatura e numero colonne per row */
 .col{
    margin: 2vh;
    float: left;
    width: calc(100% / 3 - 4vh);
 }
/* float e dimensione img */
 .foto img{
    width: 30%;
    float: left;
 }
/* colore background, testo delle cards e ombreggiatura */
 .content{
    color: white;
    background-color: rgba(15,14,23,1);
    box-shadow: 0px 0px 10px 2px gray;
 }
/* stile e colore link email */
 a{
    text-decoration: none;
    color: rgba(23,204,242,1);
    word-wrap: break-word
 }
/* centrature contenuto della descrizione */
 .descrizione{
    padding-left: 7.2vw;
    padding-top: 1.9vh;
 }
/* spaziature tra scritte della descrizione */
 .nome, .professione, .email{
    padding-bottom: 5px;
 }
/* dimensione nome */
 .nome{
    font-size: 22px;
 }
/* dimensione professione */
 .professione{
    font-size: 19px;
 }
/* dimensione email */
 .email{
    font-size: 19px;
 }